<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gg2_MenuAdmin::menuebit"
             title="Ebit Config"
             translate="title"
             module="Gg2_Theme"
             sortOrder="900"
             parent="Gg2_MenuAdmin::menuroot"
             action="adminhtml/system_config/edit/section/ebit/"
             resource="Magento_Config::config" />
    </menu>
</config>
